---
layout: archive
title: "Posts by Collection"
permalink: /collection-archive/
author_profile: true
---

<h2 id="docs" class="archive__subtitle">docs</h2>

{% for post in collections.docs %}
  {% include archive-single.html %}
{% endfor %}

<h2 id="pets" class="archive__subtitle">pets</h2>

{% for post in collections.pets %}
  {% include archive-single.html %}
{% endfor %}

<h2 id="portfolio" class="archive__subtitle">portfolio</h2>

{% for post in collections.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2 id="recipes" class="archive__subtitle">recipes</h2>

{% for post in collections.recipes %}
  {% include archive-single.html %}
{% endfor %}
