<ul class="taxonomy__index">
    {% for item in include.taxonomies %}
        <li>
          <a href="#{{ item[0] | slugify }}">
            <strong>{{ item[0] }}</strong> <span class="taxonomy__count">{{ item[1].size }}</span>
          </a>
        </li>
    {% endfor %}
</ul>

{% assign entries_layout = entries_layout | default: 'list' %}
{% for taxonomy in include.taxonomies %}
    <section id="{{ taxonomy[0] | slugify }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ taxonomy[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in collections.categoryList[taxonomy[0]] %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
{% endfor %}
