/*!
 * Minimal Mistakes 11ty Theme 4.26.2 based on Michael Rose's Jekyll theme
 * Copyright 2013-2024 Michael Rose - mademistakes.com | @mmistakes
 * Free for personal and commercial use under the MIT license
 * https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE
 */
